# Godot-specific ignores
.import/
.godot/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
mono_crash.*.json
packages

# System/tool-specific ignores
.directory

# IDE specific
.idea
.vs/
*~
Builds/
*.DotSettings.user
